#game-container {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    margin: 10vh auto;
    display: flex;
    background:url(/static/images/background3.jpg) repeat-x 0 / 100% auto;
    background-size: 1000px 500px;
    animation: animation 20s linear infinite ;
}
@keyframes animation{
	0%{background-position: 100vw 0;}
	100%{background-position: 0 0;}
}
.game-character {
    width: 50px;
    background-image: url("images/dog.png");
    position: relative;
    top: 450px;
}
.game-character-full {
    height: 50px;
    background-size: 50px 50px;
    top: 450px;
}
.game-character-ducked {
    height: 25px;
    background-size: 50px 25px;
    top: 475px;
}
.game-enemy {
    position: relative;
}
.enemy-low{
    background-color: black;
    height: 25px;
    width: 25px;
    top: 475px;
    left: 925px;
}
.enemy-high{
    background-color: pink;
    height: 75px;
    width: 50px;
    top: 425px;
    left: 900px;
}
.enemy-double{
    background-color: red;
    height: 50px;
    width: 100px;
    top: 450px;
    left: 850px;
}