#game-container {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    margin: 10vh auto;
    display: flex;
}
.game-character {
    width: 50px;
    background-image: url("images/dog.png");
    position: relative;
    top: 450px;
}
.game-character-full {
    height: 50px;
    background-size: 50px 50px;
    top: 450px;
}
.game-character-ducked {
    height: 25px;
    background-size: 50px 25px;
    top: 475px;
}
#game-enemy {
    width: 20px;
    height: 50px;
    background-color: black;
    position: relative;
    top: 450px;
    left: 930px;
}