#game-container {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    margin: 10vh auto;
    display: flex;
    background:url(/static/images/background4.jpg) repeat-x 0 / 100% auto;
    background-size: 1000px 500px;
    animation: animation 20s linear infinite ;
}
@keyframes animation{
	0%{background-position: 100vw 0;}
	100%{background-position: 0 0;}
}
.player {
    width: 100px;
    position: relative;
    top: 450px;
}
.player-full {
    height: 50px;
    background-image: url("images/piesek.png");
    background-size: 100px 50px;
    top: 450px;
}
.player-jumping{
    height: 50px;
    background-image: url("images/skaczacy_piesek.png");
    background-size: 100px 50px;
    top: 450px;
}
.player-ducked {
    background-image: url("images/skradajacy_piesek.png");
    height: 40px;
    background-size: 100px 40px;
    top: 460px;
}
.obstacle-low{
    position: relative;
    background-color: black;
    height: 25px;
    width: 25px;
    top: 475px;
    left: 875px;
}
.obstacle-high{
    position: relative;
    background-color: pink;
    height: 75px;
    width: 50px;
    top: 425px;
    left: 850px;
}
.obstacle-double{
    position: relative;
    background-color: red;
    height: 50px;
    width: 100px;
    top: 450px;
    left: 800px;
}
#game-result{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh;
    background-color: rgba(0,25,255,0.4);
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,0);
}