{% extends "main.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game.css') }}">
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="game-score">0</div>
    <div id="game-container">
        <div class="player player-full"></div>
    </div>
    <div id="game-result">
        <div>GAME OVER</div>
        <div id="game-result-score"></div>
        <a href="/game">Play Again</a>
        <a href="/">Main Page</a>
    </div>
{% endblock %}