{% extends "main.html" %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game.css') }}">
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="game-score" class="game-field"></div>
    <div id="game-border" class="game-field" ></div>
    <div id="game-background" class="game-field" style="animation-play-state: paused;"></div>
    <div id="game-container" class="game-field" style="animation-play-state: paused;">
        <div class="player player-full player-animation" style="left: 0px"></div>
    </div>
    <div id="game-result">
        <div id="result_text">GAME OVER</div>
        <div id="game-result-score"></div>
        <a href="/game">Play Again</a>
        <a href="/">Main Page</a>
    </div>
    <audio id="music" loop src="{{ url_for('static',filename='sounds/music.mp3') }}">
    </audio>
{% endblock %}